/Carte.class
/Coordonnee.class
/Dresseur.class
/Inventaire.class
/Provisoire.class
/Vie_temporaire$Eleve.class
/Vie_temporaire.class
/Test.class
/Pokemon.class
/attaque.class
/combat.class
/type.class
/Localisation.class
/Lecture_pokemons.class
/AttaqueList.class
/ListType.class
/MainProvisoireAitor.class
/PokeListe.class
/dictionnaireType.class
